h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}

table {
    width: 650px;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid #fadf9f;
    background-color: #fab19f;
}

.code {
    font-family: 'Space Mono', monospace;
    background-color: aliceblue;
}